li {
  background-color: #3A95C9; }

h4 {
  border-bottom: 1px solid #97D1EF;
  padding: 5px;
  font-size: 20px; }

.mainstuff {
  width: 500px;
  color: white;
  padding: 10px;
  margin-bottom: 20px; }

.icons {
  position: absolute;
  right: 20px;
  width: 20px; }
