section{
}
ul{
  list-style: none;
}
li{
  background-color: #3A95C9;
}
h4{
  border-bottom: 1px solid #97D1EF;
  padding: 5px;
  font-size: 20px;
}
i{
  background-color:#4DA4D4;
  padding: 5px;
  border-radius: 20px;
  color: white;
}
.topstuff{
  position: relative;
  height: 60px;
  min-width: 600px;
}
.fa{
  font-size: 30px;
}
.container{
  max-width: 600px;
  font-family: 'Source Sans Pro', sans-serif;
}
.mainstuff{
  width: 600px;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.mainstuff:hover{
  background-color: #6FC0EC;
}
.icons{
position: absolute;
right: 0px;
top: 0;
padding: 7px;
border-radius: 27px;
background-color:#B7DEF7;
}
.times{
  color: #57B5E8;
  position: absolute;
  top: 20px;
  font-size: 30px;
  margin-left: 5px;
}
.dates{
  color: #AEC3CF;
  position: absolute;
  top: 5px;
}
